@use '../../variables' as vars;
@use '../../mixins' as mix;
@use './admin-components.scss';

.admin-dashboard {
  padding: vars.$spacing-lg 0;
  
  &__content {
    margin-top: vars.$spacing-lg;
    min-height: 500px;
  }
  
  &__overview {
    padding: vars.$spacing-md;
  }
  
  &__stat-card {
    padding: vars.$spacing-md;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    h4 {
      margin-top: vars.$spacing-sm;
      font-weight: bold;
    }
  }
}
